# Exams
/midterm
/final

# Zip files
*.zip

# Compiled files
*.o
*.out
*.class
*.bin

# Executables
*.exe
*.com

# Compiled Python files
*.pyc

# Temporary files
*.tmp
*.log

# Editor-specific files
.vscode/
.vscode
.idea/

# Dependency directories
__pycache__/
node_modules/

# Environment configuration file
.editorconfig
*.cph
*.cph/
.cph/
*.prob
.env

# tempCodeRunner
tempCodeRunner.py
tempCodeRunner.cpp
temp.cpp
temp.
